@model SakilaWeb.ViewModel.CalcViewModel

<form asp-controller="Calc" asp-action="Index" method="POST">
    <div class="form-group">
        <label>N1</label>
        <input type="number" class="form-control" asp-for="N1" />
    </div>
    <div class="form-group">
        <label>N2</label>
        <input type="number" class="form-control" asp-for="N2" />
    </div>
    <div class="form-group">
        <label>Operation</label>
        <select asp-for="Operation">
            <option value="SUM">Sum</option>
            <option value="SUBTRACT">Subtract</option>
            <option value="MULTIPLY">Multiply</option>
            <option value="DIVIDE">Divide</option>
        </select>
    </div>

    <h4>
        Resultado:
        @if (Model != null ) {
             <span>@Model.Result</span>
        }
    </h4>

    <input type="submit" value="Calc" />
</form>