@model SakilaWeb.ViewModel.CreateOrUpdateFilmViewModel

<div class="container">
    <form asp-controlers="Film" asp-action="CreateOrUpdate" methos="post" >
        <input type="hidden" asp-for="Film.Id" />
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" asp-for="Film.Title" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea rows="4" cols="10" class="form-control" asp-for="Film.Description"></textarea>
        </div>
        <div class="form-group">
            <label>Release Year</label>
            <input type="number" class="form-control" asp-for="Film.ReleaseYear" />
        </div>
        <input type="submit" class="btn btn-primary" value="Save" />
    </form>
</div>