@model SakilaWeb.Models.FilmViewModel

<form asp-con
troller="Film" asp-action="Index" method="POST">
    <div class="form-group">
        <label>Codigo</label>
        <input type="number" class="form-control" asp-for="codigo" />
    </div>
    <input type="submit" value="Procurar" />
    <h4>
        Resultado:
       
            <span>@Model.move</span>
    </h4>
</form>