@model SakilaWeb.ViewModel.FilmsListAllViewModel

<form asp-controller="Film" asp-action="ListAll" method="get">
    <div class="form-group">
        <label>Id</label>
        <input type="number" class="form-control" asp-for="SearchId" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<a class="btn btn-default" asp-controller="Film" asp-action="CreateOrUpdate" >New Film</a>

<table class="table">
    <thead>
        <tr>
            <th>Editar</th>
            <th>Deletar</th>
            <th>ID</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var film in Model.FilmsList) {
        <tr>
            <td ><a class="text-muted" asp-controller="Film" asp-action="CreateOrUpdate" asp-route-updateId="@film.Id"><i class="far fa-edit"></i></a></td>
            <td ><a class="text-muted" asp-controller="Film" asp-action="Delete" asp-route-id="@film.Id"><i class="far fa-trash-alt fa-w-14"></i></a></td>
            <td>@film.Id</td>
            <td>@film.Title</td>
        </tr>
        }
    </tbody>
</table>