@model IEnumerable<SakilaWeb.DB.Models.Film>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var film in Model) {
            <tr>
                <td>@film.Id</td>
                <td>@film.Title</td>
            </tr>
        }
    </tbody>
</table>